.button {
  display: inline-block;
  font-family: $secondaryFontFamily;
  border: none;
  padding: 0;

  font-weight: inherit;
  font-size: 14px;
  line-height: (28px/14px);
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $textColorLight;
  background-color: $secondaryColorDark;

  transition: background-color 250ms linear, box-shadow 250ms linear;

  &:hover,
  &:focus {
    background-color: $accentColor;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }
}
