// FontFamily
$primaryFontFamily: Open Sans, sans-serif;
$secondaryFontFamily: Barlow, sans-serif;

// Color
$accentColor: #808E88;

$textColorLight: #fff;
$textColorDark: #000;

$secondaryColorLight: #E9ECE0;
$secondaryColorDark: #5B6460;


